<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Something went wrong</h1>
    <p>We're fixing that issue, sorry for inconveniences</p>

<%- include('includes/end.ejs') %>